body {
    font-family: 'Roboto', sans-serif; /* Updated Font Family */
    margin:0;
}

.navbar {
    background:#1F2937;
    display:flex;
    justify-content:space-around;
    padding:10px;
    
}

.logo {
display:flex;
align-items:center;
color:#E5E7EB;
font-size:24px;
font-weight:bold;

}

.hero-text {
    background:#1F2937;
    padding:70px;
    display:flex;
    justify-content:center;
    align-items:center;

  
}
.awesome {
    color:#E5E7EB;
    font-size:32px;
    font-weight:bold;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    width:500px;
    height:300x;

}

.hero-image {
    background:gray;
    height: 300px;
    width: 700px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 50px;
    color:white;
}

.button {
 color:white;
 background-color:#3882F6;
 border-color: #3882F6;
 border-radius:5px;
 height:30px;
 width:80px;
 display:flex;
 justify-content:center;
 align-items:center;

}

.information {
    height:350px;
  

}

.info-title {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    padding: 15px;
}
.card-container {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:80px;
}

.box {
    width: 150px; 
    height: 150px; 
    border: 4px solid #3882F6; 
    border-radius: 15px; 
    display:flex;
    justify-content:center;
    align-items:center;

}

.card {
    width:150px;
    display:flex;
    flex-direction:column;
    text-align:center;
}

.content {
    margin:10px;
    width:150px;
    display:flex;
    justify-content:center;
}

.quote-container {
    background:#E5E7EB;
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.quote {
    font-size:36px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    width:600px;
}

.author {
    display:flex;
    justify-content:flex-end;
    font-weight:bold;
    align-items:flex-end;
    flex-direction:column;
    
}
p {
    color:#9CA3AF;
    font-size:16px;
   
}

h1, p {
    margin:0;
    margin-bottom:15px; /*removes ghost margins from h1 and p elements*/ 
}

ul, li {
list-style-type:none;
margin:0;
padding:0;
display:flex;
gap:15px;


}
a {
   text-decoration:none; 
   color:#9CA3AF;
}