body {
    font-family: 'Roboto', sans-serif; /* Updated Font Family */
    margin:0;
}

.navbar {
    background:#1F2937;
    display:flex;
    justify-content:space-around;
    padding:10px;
    
}

.logo {
display:flex;
align-items:center;
color:#E5E7EB;
font-size:24px;
font-weight:bold;

}

.hero-text {
    background:#1F2937;
    padding:70px;
    display:flex;
    justify-content:center;
    align-items:center;

  
}
.awesome {
    color:#E5E7EB;
    font-size:32px;
    font-weight:bold;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    width:500px;
    height:300x;

}

.hero-image {
    outline: 3px solid red;
    background:gray;
    height: 300px;
    width: 700px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 50px;
}

.button {
 color:white;
 background-color:#3882F6;
 border-color: #3882F6;
 border-radius:5px;
 height:30px;
 width:80px;
 display:flex;
 justify-content:center;
 align-items:center;

}

p {
    color:#9CA3AF;
    font-size:16px;
   
  
}

h1, p {
    margin:0;
    margin-bottom:15px; /*removes ghost margins from h1 and p elements*/ 
}

ul, li {
list-style-type:none;
margin:0;
padding:0;
display:flex;
gap:15px;


}
a {
   text-decoration:none; 
   color:#9CA3AF;
}