body {
    font-family: 'Roboto', sans-serif; /* Updated Font Family */
    margin:0;
}

.navbar {
    background:#1F2937;
    display:flex;
    justify-content:space-around;
    padding:10px;
    
}

.logo {
display:flex;
align-items:center;
color:#E5E7EB;
size:24px;
font-weight:bold;

}

ul, li {
list-style-type:none;
margin:0;
padding:0;
display:flex;
gap:15px;


}
a {
   text-decoration:none; 
   color:#E5E7EB;
}